{% extends "base_detail_hrace.html" %}

{% block title %}{% endblock title %}

{% block css_files %}{% endblock css_files %}

{% block content %}


<div class="seznam">
    <ul>
        {% for hrac in vsichni_hraci|dictsortreversed:"celkem_kroku" %}
                <li>
                    <strong>{{hrac.jmeno}} {{hrac.prijmeni}} - </strong> <u>{{hrac.celkem_kroku}}</u> kroků - ({{hrac.tym}}) 
                </li>
        {% endfor %}
    </ul>
</div>

<div class="menu">
    <ul>
        <li>
            <button onclick="history.back()">ZPĚT</button>
        </li>
    </ul>
</div>


{% endblock content %}







