{% extends "base_detail_hrace.html" %}

{% block title %}{% endblock title %}

{% block css_files %}{% endblock css_files %}

{% block content %}


<div class="seznam">
    <ul>
        <strong><u>PEPA:</u></strong>
        {% for hrac in hraci_pepa|dictsortreversed:"celkem_kroku" %}
            <li>
                <a href="{% url 'pepa_detail_hrace' hrac.id %}">
                    {{hrac.jmeno}} {{hrac.prijmeni}} - {{hrac.celkem_kroku}} Kroků
                </a>                  
            </li>
        {% endfor %}

        <strong><u>KAREL:</u></strong>
        {% for hrac in hraci_karel|dictsortreversed:"celkem_kroku" %}
            <li>
                <a href="{% url 'karel_detail_hrace' hrac.id %}">
                    {{hrac.jmeno}} {{hrac.prijmeni}} - {{hrac.celkem_kroku}} Kroků
                </a>                  
            </li>
        {% endfor %}

        <strong><u>BRUNHILDA:</u></strong>
        {% for hrac in hraci_brunhilda|dictsortreversed:"celkem_kroku" %}
            <li>
                <a href="{% url 'brunhilda_detail_hrace' hrac.id %}">
                    {{hrac.jmeno}} {{hrac.prijmeni}} - {{hrac.celkem_kroku}} Kroků
                </a>                  
            </li>
        {% endfor %}
    </ul>
</div>

<div class="menu">
    <ul>
        <li>
            <button onclick="history.back()">ZPĚT</button>
        </li>
    </ul>
</div>


{% endblock content %}







