
{% extends "base_jednotlive_dny.html" %}
{% load static %}
{% block title %}JEDNOTLIVÉ DNY{% endblock title %}

{% block css_files %} <link rel="stylesheet" href="{% static 'pepaapp/pepa_jednotlive_dny.css' %}"> {% endblock css_files %}

{% block content %}

<button id="hamburger-btn">
    <span></span>
    <span></span>
    <span></span>
</button>

{% for den in pepa_pamet %}
    {% if den.den > 0 %}
        <ol class="den-zaznam">  {# Přidána třída "den-zaznam" #}
            <h1><strong><u>Den:{{den.den}}</u></strong></h1>
            <u>KM s bonusem:</u><strong>{{den.km_s_bonusem}} Km</strong><br>
        </ol>
    {% endif %}
{% endfor %}



<div class="menu" id="nav-menu">
    <ul>
        <li><button><a href="{% url 'pepa_main_page' %}">Přehled avatara</a></button></li>
        <li><button><a href="{% url 'pepa_detail_statistika' %} ">Detailní statistika</a></button></li>
        <li><button><a href="{% url 'pepa_jednotlive_dny' %} ">Výsledky za jednotlivé dny</a></button></li>
        <li><button><a href="{% url 'pepa_full_tym' %} ">Detail hráčů</a></button></li>
        <li><button><a href="{% url 'pepa_leaderboard' %} ">Žebříček - TÝM</a></button></li>
        <li><button><a href="{% url 'all_leaderboard' %}">Žebříček - VŠICHNI</a></button></li>
    </ul>
</div>

<script>
        // NOVÝ SKRIPT PRO OVLÁDÁNÍ HAMBURGER MENU
        const hamburgerBtn = document.getElementById('hamburger-btn');
        const navMenu = document.getElementById('nav-menu');

        hamburgerBtn.addEventListener('click', () => {
            navMenu.classList.toggle('active'); // Přepíná třídu "active" na menu
            hamburgerBtn.classList.toggle('active'); // Přepíná třídu "active" na tlačítku
        });
    });
</script>

{% endblock content %}







