{% extends "base_full_tym.html" %}
{% load static %}

{% block title %}PEPA - Full tým{% endblock title %}

{% block css_files %}{% endblock css_files %}

{% block content %}

    
<div class="seznam">
    <ul>
        {% for hrac in pepa_vsichni_hraci %}
            <li>
                <a href="{% url 'detail_hrace' hrac.id %}">
                    {{hrac.jmeno}} {{hrac.prijmeni}}
                </a>                
            </li>
        {% endfor %}
    </ul>
</div>

<div class="menu">
    <ul>
        <li><button><a href="{% url 'pepa_main_page' %}">Přehled avatara</a></button></li>
        <li><button><a href="{% url 'pepa_detail_statistika' %} ">Detailní statistika</a></button></li>
        <li><button><a href="{% url 'pepa_jednotlive_dny' %} ">Výsledky za jednotlivé dny</a></button></li>
        <li><button><a href="{% url 'pepa_full_tym' %} ">Detail hráčů</a></button></li>
        <li><button><a href="{% url 'pepa_leaderboard' %} ">Žebříček - TÝM</a></button></li>
        <li><button><a href="{% url 'all_leaderboard' %}">Žebříček - VŠICHNI</a></button></li>
    </ul>
</div>

{% endblock content %}



